# Verification for Spec

## test stage

Post Deploy success:

From CodBuild post deploy logs:

```
PASS ./docs-page-tests.jest.mjs

[02-generate-api-docs] INFO: API documentation generated successfully at build/staging/api-docs/docs/api/index.html

[04-consolidate-and-deploy] INFO: Deployment complete. 22 file(s) synced
```
 
curl shows pinned url with integrity and crossorigin. 

All paths render.

## beta stage

Post Deploy success:

From CodBuild post deploy logs:

```
PASS ./docs-page-tests.jest.mjs

[02-generate-api-docs] INFO: API documentation generated successfully at build/staging/api-docs/docs/api/index.html

[04-consolidate-and-deploy] INFO: Deployment complete. 22 file(s) synced
```
 
curl shows pinned url with integrity and crossorigin. 

All paths render.

## prod stage

Post Deploy success:

From CodBuild post deploy logs:

```
PASS ./docs-page-tests.jest.mjs

[02-generate-api-docs] INFO: API documentation generated successfully at build/staging/api-docs/docs/api/index.html

[04-consolidate-and-deploy] INFO: Deployment complete. 22 file(s) synced
```
 
curl shows pinned url with integrity and crossorigin. 

All paths render.